In [1]:
import sqlalchemy
%load_ext sql

In [2]:
%sql postgresql://postgres:Tunguch393@localhost:5432/sales_data

In [ ]:
# Task 1: Cast columns into the correct datatype.

In [6]:
%%sql 
DO $$ 
DECLARE 
    max_card_number_length INT;
    max_store_code_length INT;
    max_product_code_length INT;
BEGIN
    SELECT 
        MAX(LENGTH(CAST(card_number AS TEXT))),
        MAX(LENGTH(store_code)),
        MAX(LENGTH(product_code))
    INTO 
        max_card_number_length,
        max_store_code_length,
        max_product_code_length
    FROM 
        orders_table;
    
    EXECUTE 'ALTER TABLE orders_table
             ALTER COLUMN card_number TYPE VARCHAR(' || max_card_number_length || ')';
    EXECUTE 'ALTER TABLE orders_table
             ALTER COLUMN store_code TYPE VARCHAR(' || max_store_code_length || ')';
    EXECUTE 'ALTER TABLE orders_table
             ALTER COLUMN product_code TYPE VARCHAR(' || max_product_code_length || ')';
	EXECUTE 'ALTER TABLE orders_table
			 Alter COLUMN user_uuid TYPE UUID USING user_uuid::UUID';
	EXECUTE 'ALTER TABLE orders_table
			ALTER COLUMN date_uuid TYPE UUID USING date_uuid::UUID';
	EXECUTE 'ALTER TABLE orders_table
			ALTER COLUMN product_quantity TYPE SMALLINT';
END $$;

SELECT column_name, data_type, character_maximum_length
FROM information_schema.columns
WHERE table_name = 'orders_table';

 * postgresql://postgres:***@localhost:5432/sales_data
Done.
6 rows affected.

[('date_uuid', 'uuid', None),
 ('user_uuid', 'uuid', None),
 ('product_quantity', 'smallint', None),
 ('card_number', 'character varying', 19),
 ('store_code', 'character varying', 12),
 ('product_code', 'character varying', 11)]

![Alt text](print_screen_images//image-1.png)

In [ ]:
# Task 2: Cast columns into the correct datatype in users table

In [7]:
%%sql DO $$ 
DECLARE 
    max_country_code_length INT;
BEGIN
    SELECT 
        MAX(LENGTH(country_code))
    INTO 
        max_country_code_length
    FROM 
        dim_users;
    
    EXECUTE 'ALTER TABLE dim_users
             ALTER COLUMN first_name TYPE VARCHAR(255)';
    EXECUTE 'ALTER TABLE dim_users
             ALTER COLUMN last_name TYPE VARCHAR(255)';
    EXECUTE 'ALTER TABLE dim_users
             ALTER COLUMN date_of_birth TYPE DATE';
    EXECUTE 'ALTER TABLE dim_users
             ALTER COLUMN country_code TYPE VARCHAR(' || max_country_code_length || ')';
    EXECUTE 'ALTER TABLE dim_users
             ALTER COLUMN user_uuid TYPE UUID USING user_uuid::UUID';
    EXECUTE 'ALTER TABLE dim_users
			ALTER COLUMN join_date TYPE DATE';
END $$;
SELECT column_name, data_type, character_maximum_length
FROM information_schema.columns
WHERE table_name = 'dim_users';

 * postgresql://postgres:***@localhost:5432/sales_data
Done.
11 rows affected.

[('date_of_birth', 'date', None),
 ('join_date', 'date', None),
 ('user_uuid', 'uuid', None),
 ('email_address', 'text', None),
 ('first_name', 'character varying', 255),
 ('country', 'text', None),
 ('country_code', 'character varying', 2),
 ('phone_number', 'text', None),
 ('address', 'text', None),
 ('last_name', 'character varying', 255),
 ('company', 'text', None)]

![Alt text](print_screen_images//image-2.PNG)
<img src="print_screen_images//image-2.PNG" width="370" style="margin-top: 7px;">

In [ ]:
# Task 3: Cast columns into the correct datatype and correct rows for web portals in dim_store_details table.

In [8]:
%%sql UPDATE dim_store_details SET 
  longitude = CASE WHEN longitude = 'N/A' THEN NULL ELSE longitude END,
  address = CASE WHEN address = 'N/A' THEN NULL ELSE address END,
  latitude = CASE WHEN latitude = 'N/A' THEN NULL ELSE latitude END;
DO $$
DECLARE max_store_code_length INT;
BEGIN 
	SELECT MAX(LENGTH(store_code)) INTO max_store_code_length FROM dim_store_details;
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN longitude TYPE FLOAT USING longitude::FLOAT';
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN locality TYPE VARCHAR(255)';
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN store_code TYPE VARCHAR(' || max_store_code_length || ')';
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN staff_numbers TYPE SMALLINT USING staff_numbers::SMALLINT';
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN opening_date TYPE DATE';
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN store_type TYPE VARCHAR(255)';
	EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN store_type DROP NOT NULL';
    EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN latitude TYPE FLOAT USING latitude::FLOAT';
	EXECUTE 'ALTER TABLE dim_store_details
             ALTER COLUMN country_code TYPE VARCHAR(2)';
    EXECUTE 'ALTER TABLE dim_store_details
			ALTER COLUMN continent TYPE VARCHAR(255)';
END $$;

SELECT column_name, data_type, character_maximum_length
FROM information_schema.columns
WHERE table_name = 'dim_store_details';

 * postgresql://postgres:***@localhost:5432/sales_data
441 rows affected.
Done.
10 rows affected.

[('longitude', 'double precision', None),
 ('latitude', 'double precision', None),
 ('staff_numbers', 'smallint', None),
 ('opening_date', 'date', None),
 ('country_code', 'character varying', 2),
 ('address', 'text', None),
 ('continent', 'character varying', 255),
 ('locality', 'character varying', 255),
 ('store_code', 'character varying', 12),
 ('store_type', 'character varying', 255)]

![Alt text](print_screen_images\image-4.png)

In [ ]:
# Task 4 Update columns in dim_products tables.

In [ ]:
%%sql 
ALTER TABLE dim_products
RENAME COLUMN removed TO still_available;

UPDATE dim_products
SET still_available = TRIM(LOWER(still_available));

# update still_available column
UPDATE dim_products
SET still_available =
	CASE
		WHEN still_available = 'still_avaliable' THEN 'yes'
		WHEN still_available = 'removed' THEN 'no'
		ELSE NULL
	END;
# remove currency sign from product_price
UPDATE dim_products
SET product_price = CAST(REPLACE(CAST(product_price AS VARCHAR), '£', '') AS FLOAT);

# create weight_class column
ALTER TABLE dim_products
ADD COLUMN weight_class VARCHAR(255);

UPDATE dim_products
SET weight_class = 
	CASE
		WHEN weight < 2 THEN 'Light'
		WHEN weight >= 2 AND weight < 40 THEN 'Mid-Sized'
		WHEN weight >= 40 AND weight < 140 THEN 'Heavy'
		ELSE 'Truck_Required'
	END;

In [ ]:
# imag 4 goes here

# Task 5 Cast columns into the correct datatype in dim_products tables.

In [ ]:
%%sql
DO $$
DECLARE
	max_ean_length INT;
	max_product_code_length INT;
	max_weight_class_length INT;
BEGIN
	SELECT 
		MAX(LENGTH(LOWER("EAN"))),
		MAX(LENGTH(product_code)),
		MAX(LENGTH(weight_class))
	INTO 
		max_ean_length, 
		max_product_code_length, 
		max_weight_class_length
	FROM dim_products;
	
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN weight TYPE FLOAT';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN "EAN" TYPE VARCHAR(' || max_ean_length || ')';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN product_code TYPE VARCHAR(' || max_product_code_length || ')';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN date_added TYPE DATE';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN uuid TYPE UUID USING uuid::UUID';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN product_price TYPE FLOAT USING product_price::FLOAT';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN still_available TYPE BOOL USING still_available::BOOL';
	EXECUTE 'ALTER TABLE dim_products
			ALTER COLUMN weight_class TYPE VARCHAR(' || max_weight_class_length || ')';
END $$;
SELECT DISTINCT still_available, COUNT(*) AS total_count FROM dim_products
GROUP BY still_available;

SELECT * FROM dim_products;

#image 5 goes here

In [ ]:
# Task 6: Cast the columns into the correct format.

In [ ]:
%%sql
DO $$
DECLARE 
	max_time_period_length INT;
BEGIN 
	SELECT MAX(LENGTH(time_period)) INTO max_time_period_length FROM dim_date_times;
	EXECUTE 'ALTER TABLE dim_date_times
	ALTER COLUMN "month" TYPE VARCHAR(2)';
	EXECUTE 'ALTER TABLE dim_date_times
	ALTER COLUMN "year" TYPE VARCHAR(4)';
	EXECUTE 'ALTER TABLE dim_date_times
	ALTER COLUMN "day" TYPE VARCHAR(2)';
	EXECUTE 'ALTER TABLE dim_date_times
	ALTER COLUMN time_period TYPE VARCHAR(' || max_time_period_length || ')';
	EXECUTE 'ALTER TABLE dim_date_times
	ALTER COLUMN date_uuid TYPE UUID USING date_uuid::UUID';
END $$;

SELECT * FROM dim_date_times;

image 6

In [ ]:
# Task 7: Cast columns into the correct datatype.

In [ ]:
%%sql
DO $$
DECLARE
	max_card_number_length INT;
	max_expiry_date_length INT;
BEGIN
	SELECT 
		MAX(LENGTH(card_number)),
		MAX(LENGTH(expiry_date))
	INTO 
		max_card_number_length,
		max_expiry_date_length
	FROM dim_card_details;
	
	EXECUTE 'ALTER TABLE dim_card_details
			ALTER COLUMN card_number TYPE VARCHAR(' || max_card_number_length || ')';
	EXECUTE 'ALTER TABLE dim_card_details
			ALTER COLUMN expiry_date TYPE VARCHAR(' || max_expiry_date_length || ')';
	EXECUTE 'ALTER TABLE dim_card_details
			ALTER COLUMN date_payment_confirmed TYPE DATE USING date_payment_confirmed::DATE';
END $$;
SELECT * FROM dim_card_details;

#image 6

In [ ]:
# Task 8: Add primary keys.

In [ ]:
%%sql
ALTER TABLE dim_date_times 
ADD PRIMARY KEY (date_uuid);

ALTER TABLE dim_products
ADD PRIMARY KEY (product_code);

ALTER TABLE dim_store_details
ADD PRIMARY KEY (store_code);

ALTER TABLE dim_users
ADD PRIMARY KEY (user_uuid);

ALTER TABLE dim_card_details
ADD PRIMARY KEY (card_number);

image 8

In [ ]:
# Task 9: Add foreign keys.

In [ ]:
%%sql
ALTER TABLE orders_table
ADD CONSTRAINT fk_orders_user
FOREIGN KEY (user_uuid)
REFERENCES dim_users(user_uuid);

ALTER TABLE orders_table
ADD CONSTRAINT fk_orders_card
FOREIGN KEY (card_number)
REFERENCES dim_card_details(card_number);

ALTER TABLE orders_table
ADD CONSTRAINT fk_orders_date
FOREIGN KEY (date_uuid)
REFERENCES dim_date_times(date_uuid);

ALTER TABLE orders_table
ADD CONSTRAINT fk_orders_store
FOREIGN KEY (store_code)
REFERENCES dim_store_details(store_code);

ALTER TABLE orders_table
ADD CONSTRAINT fk_orders_products
FOREIGN KEY (product_code)
REFERENCES dim_products(product_code);

#image 9